{% extends "base.html" %}

{% block title %}Configuration - GrillKit{% endblock %}

{% block content %}
{% include "config_form.html" %}
{% if speech_model_status %}
{% include "speech_model_panel.html" %}
{% endif %}
{% if tts_voice_status %}
{% include "question_voice_panel.html" %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if speech_model_status %}
<script src="/static/js/speech_model.js?v={{ static_version('js/speech_model.js') }}"></script>
{% endif %}
{% if tts_voice_status %}
<script src="/static/js/question_voice_status.js?v={{ static_version('js/question_voice_status.js') }}"></script>
{% endif %}
{% if speech_model_status or tts_voice_status %}
<script src="/static/js/model_download_status.js?v={{ static_version('js/model_download_status.js') }}"></script>
{% endif %}
{% endblock %}
